@import "https://fonts.googleapis.com/css?family=Rubik+Mono+One";

body {
	font-family: 'Rubik Mono One', sans-serif;
	color: #444;
}

html{
  background-image: url("../assets/bg1-01.png");
  background-position: center bottom; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  height:100%;
  
}

.fine{
	font-size: 8px;
	margin: 0;
}
